.class{
    border-bottom:20px solid transparent ;
    
    display:flex;
    justify-content: space-evenly;
    width:800px;
    }
    
    .classes{
        
        display:flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items:center
    }
    .day{
       height:40px;
       width:60px;
       /* border:1px solid  violet; */
       display: flex;
       align-items:center;
    }
    
    .description{
        height:40px;
        width:180px;
        /* border:1px solid  violet; */
        display: flex;
        align-items:center;
    
    }
    .button-{
        height:40px;
        width:40px;
        /* border:1px solid  violet; */
        display: flex;
        align-items:center;
        
    }
    
    .select1{
        background-color: red;
    }
    .select2{
        background-color: greenyellow;
    }
    .book{
        height:20px;
        background-color: greenyellow;
    }
    .buttonbook{
        height:40px;
        width:80px;
        /* border:1px solid  violet; */
        display: flex;
        align-items:center
    }
    .search{
        width:190px;
        height:25px;
        position:relative;
        bottom:6px;
    }
    .searchicon{
        height:22px;
        width:20px;
    }
    
    