body{
    background-image: linear-gradient(#50A1D3, white);
    height:100vh;
    width:100vw;
    position:relative;
    
    
    
}
.outerContact{
    position:relative;
    top:160px;
}



.add{
    color: rgb(3, 3, 3);
}
.left{
    display: flex;
    flex-direction: column;
    position: relative;
    top:40px;
    left:20px;
    height:200px;
    width:400px;
    /* background-color: saddlebrown; */
}
.right{
    position : relative;
    height:290px;
    width:690px;
    top:0px;
    right:0px;
    /* border: 1px solid greenyellow; */
}

.h3class{
    position:relative;
    top:120px;
    color:#CFB165;
    font-weight: bolder;
    /* background-color: violet; */
    width:400px;
}
.contact{
    position:relative;
    left:20px;
    top:90px;
    color: #CFB165;
    font-weight: bolder;
}
.envelope{
display: flex;
flex-direction: row;
/* background-color: salmon; */
position: relative;
left : 190px;
top:60px;
    height:400px;
    width:1000px;
    /* justify-content: space-between; */
    align-items: stretch;
    background-color: #011E2A;
    box-shadow: 5px 5px 4px 5px #a3a1a1;
   
  

}
address{
    
    position: relative;
    top:0px;
    height:500px;
    color:#CFB165;
    font-weight: bolder;
}
.add{
font-size:large;
position:relative;
top: 20px;
left:140px;
color:#CFB165;
font-weight: bolder;
}

.yogaicon{
    height:70px;
    width:70px;
    display: flex;
    align-content: center;
    position:relative;
    left:120px;

}


@media only screen and (max-width: 600px) {
    /* .outerContact{
        height:600px;
        width:450px;
        background-color: rgb(24, 23, 23);
        position:relative;
        left:55px;
        top:-100px;
        
    } */
    .envelope{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        left : 15px;
        top:-60px;
            height:470px;
            width:330px;
           
            /* align-items: stretch; */
            background-color: #010102;
            box-shadow: 5px 5px 4px 5px #a3a1a1;
           
        }

        .contact{
            position:relative;
            left:80px;
            top:40px;
            font-size:large;
            color: #CFB165;
        }



        .h3class{
            position:relative;
            top:70px;
            left:10px;
            color:#CFB165;
            font-size:small;
        }


        .left{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            position: relative;
            top:40px;
            left:0px;
            height:200px;
            width:300px;
            /* background-color: saddlebrown; */
        }



        .right{
            position : relative;
            height:490px;
            width:400px;
            top:20px;
            right:0px;
            left:-20px;
            /* border: 1px solid greenyellow; */
        }

        .add{
            font-size:small;
            position:relative;
            top: 140px;
            left:20px;
            color:#CFB165;
            }


            .yogaicon{
                position:relative;
                top:147px;
                /* right:0px; */
                left:170px;
               
                height:40px;
                width:40px;
                display: flex;
                align-content: center;
                position:relative;
                /* left:150px; */
            
            }
            address{
    
                position: relative;
                top:0px;
                left:30px;
                display:flex;
                align-items: center;
                height:500px;
                color:#CFB165;
                font-size: medium;
                
                
            }

            .body{
                width:40px;
                height:600px;
            }

            .outerContact{
                position:relative;
                top:360px;
            }

  }
.classHeading{
    background-color: black;
    height:100px;
    color:#CFB165
}


  
  
  @media (min-width: 600px) {
    
  }

