.wholeClass{
    position:relative;
    top:160px;
}

.class{
border-bottom:20px solid transparent ;

display:flex;
justify-content: space-evenly;
width:800px;
}

.classes{
    
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items:center
}
.day{
   height:40px;
   width:60px;
   /* border:1px solid  violet; */
   display: flex;
   align-items:center;
}

.description{
    height:40px;
    width:180px;
    /* border:1px solid  violet; */
    display: flex;
    align-items:center;

}
.button-{
    height:40px;
    width:40px;
    /* border:1px solid  violet; */
    display: flex;
    align-items:center;
    
}

.select1{
    background-color: rgb(245, 99, 99);
}
.select2{
    background-color: greenyellow;
}
.book{
    height:20px;
    background-color: rgb(245, 99, 99);
}
.buttonbook{
    height:40px;
    width:80px;
    /* border:1px solid  violet; */
    display: flex;
    align-items:center
}
.search{
    width:190px;
    height:25px;
    position:relative;
    bottom:6px;
}
.searchicon{
    height:22px;
    width:20px;
}

.Class-titles{
    display:flex;
    flex-direction: row;
    align-items: stretch;
    background-color: #1E6FB8;
    justify-content: space-evenly;
}
.class-details{
    display:flex;
    flex-direction: row;
    align-items: stretch;
     background-color:#B9D9ED; 
    justify-content: space-evenly;
    width:100vw
}



.pclass1{
    color:white;
    font-weight: bold;
    position: relative;
    left:170px;
}
.pclass2{
    color:white;
    font-weight: bold;
    position: relative;
    left:70px;
}
.pclass3{
    color:white;
    font-weight: bold;
    position: relative;
    left:10px;
}
.pclass4{
    color:white;
    font-weight: bold;
    position: relative;
    right:110px;
}
.pclass5{
    color:white;
    font-weight: bold;
    position: relative;
    right:280px;
}
.classHeading{
    background-color: black;
    height:100px;
    color:#CFB165;
    font-size: xx-large;
    font-style: italic;
    display:flex;
    justify-content: center;
    align-items: center;
    width:70vw;
    border-radius: 25px;
    position:relative;
    left :-20px;
}