.wholeClass{
    position:relative;
    top:160px;
}

.class{
border-bottom:20px solid transparent ;

display:flex;
justify-content: space-evenly;
width:800px;
}

.classes{
    
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items:center
}
.day{
   height:40px;
   width:60px;
   /* border:1px solid  violet; */
   display: flex;
   align-items:center;
}

.description{
    height:40px;
    width:180px;
    /* border:1px solid  violet; */
    display: flex;
    align-items:center;

}
.button-{
    height:40px;
    width:40px;
    /* border:1px solid  violet; */
    display: flex;
    align-items:center;
    
}

.select1{
    background-color: rgb(245, 99, 99);
}
.select2{
    background-color: greenyellow;
}
.book{
    height:20px;
    background-color: rgb(245, 99, 99);
}
.buttonbook{
    height:40px;
    width:80px;
    /* border:1px solid  violet; */
    display: flex;
    align-items:center
}
.search{
    width:190px;
    height:25px;
    position:relative;
    left:600px;
    bottom:6px;
}
.searchicon{
    height:27px;
    width:27px;
    position:relative;
    left: -4px;
    top: -2px;
    background-color: white;
}
.searchbutton{
    position:relative;
    left: 790px;
    top: -37px;
    height: 31px;
    width: 32px;
}

.Class-titles{
    display:flex;
    flex-direction: row;
    align-items: stretch;
    background-color: #1E6FB8;
    justify-content: space-evenly;
}
.class-details{
    display:flex;
    flex-direction: row;
    align-items: stretch;
     background-color:#B9D9ED; 
    justify-content: space-evenly;
    width:100vw
}



.pclass1{
    color:white;
    font-weight: bold;
    position: relative;
    left:520px;
}
.pclass2{
    color:white;
    font-weight: bold;
    position: relative;
    left:620px;
}
.pclass3{
    color:white;
    font-weight: bold;
    position: relative;
    left:750px;
}
.pclass4{
    color:white;
    font-weight: bold;
    position: relative;
    left:800px;
}
.pclass5{
    color:white;
    font-weight: bold;
    position: relative;
    left: 830px;
}


.pclass6{
    color:white;
    font-weight: bold;
    position: relative;
    left:870px;
}
.classHeading{
    background-color: black;
    height:100px;
    color:#CFB165;
    font-size: xx-large;
    font-style: italic;
    display:flex;
    justify-content: center;
    align-items: center;
    width:70vw;
    border-radius: 25px;
    position:relative;
    left :-20px;
}
.log{
    /* border: 1px solid blue; */
    display: flex;
    justify-content: center;
    align-items: center;

}


@media only screen and (max-width: 900px) and (min-width: 600px) {

    .pclass1{
        color:white;
        font-weight: bold;
        position: relative;
        left:200px;
    }
    .pclass2{
        color:white;
        font-weight: bold;
        position: relative;
        left:280px;
    }
    .pclass3{
        color:white;
        font-weight: bold;
        position: relative;
        left:410px;
    }
    .pclass4{
        color:white;
        font-weight: bold;
        position: relative;
        left:470px;
    }
    .pclass5{
        color:white;
        font-weight: bold;
        position: relative;
        left:500px;
    }
    
    
    .pclass6{
        color:white;
        font-weight: bold;
        position: relative;
        left:535px;
    }
    .classHeading{
        background-color: black;
        height:100px;
        color:#CFB165;
        font-size: xx-large;
        font-style: italic;
        display:flex;
        justify-content: center;
        align-items: center;
        width:70vw;
        border-radius: 25px;
        position:relative;
        left :-20px;
    }

}